@model MailOrderMVCConsume.DTO.RefillDueAsDateDTO

@{
    ViewData["Title"] = "GetRefillDuesAsOfDate";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Get Refill Dues As Of Date</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetRefillDuesAsOfDate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubscriptionId" class="control-label"></label>
                <input asp-for="SubscriptionId" class="form-control" />
                <span asp-validation-for="SubscriptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromDate" class="control-label"></label>
                <input asp-for="FromDate" class="form-control" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Get Dues" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


