@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Mail Order Pharmacy</h1>
    <p>Application in which you can get your medications in one click.</p>
</div>
